<% entries = flash.to_h.each_with_object([]) do |(type, message), memo|
     Array(message).each do |msg|
       next if msg.blank?
       memo << { type: type.to_sym, message: msg }
     end
   end %>

<div id="flash-messages" class="fixed inset-x-0 top-4 z-50 flex flex-col items-center gap-3 px-4 pointer-events-none">
  <% entries.each do |entry| %>
    <%= render partial: "shared/flash_message", locals: entry %>
  <% end %>
</div>
